<head>
    <meta charset='UTF-8'>
    <title>Lữ Đoàn PPK673</title>
    <link rel='stylesheet prefetch' th:href='@{/css/lib/normalize.min.css}'>
    <link rel='stylesheet prefetch' th:href='@{/css/lib/bootstrap.min.css}'>
    <link rel='stylesheet prefetch' th:href='@{/css/lib/animate.min.css}'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="icon" th:href="@{/css/image/logo.png}" sizes="32x32" type="image/png">
</head>